.container{style: 'position:fixed;'}
  .navbar.navbar-inverse.navbar-fixed-bottom{role: "navigation"}
    .row
      .group1.col-md-8.col-md-offset-2{style: 'text-align: center;'}
        %a{href: "https://github.com/md-farhan-memon/test_blog", target: "_blank", title: "GitHub - TestBlog"}
          %img{src: "/gh.png"}
        %a{href: "https://in.linkedin.com/in/mdfarhanmemon", target: "_blank", title: "LinkedIn Profile"}
          %img{src: "/li.png"}
        %a{href: "https://www.facebook.com/mdfarhan.memon", target: "_blank", title: "Facebook Profile"}
          %img{src: "/fb.png"}